{% load static %}

<h2 class="text-center">МЫ-ВАШ КОМПЕТЕНТНЫЙ ПАРТНЕР</h2>
    <div class="container">
        <div class="center">
        <div class="advantages">
            <img src="{% static 'img/utp_warehouse/utp_w1.png' %}" alt="" class="utp_w__img">
            <span class="advantages__span">50 лет на рынке</span>
        </div>
        <div class="advantages owner_border_w">
            <img src="{% static 'img/utp_warehouse/utp_w2.png' %}" alt="" class="utp_w__img">
            <span class="advantages__span">Собственник</span>
        </div>
        <div class="advantages">
            <img src="{% static 'img/utp_warehouse/utp_w3.png' %}" alt="" class="utp_w__img">
            <span class="advantages__span">Строгое выполнение своих обязательств</span>
        </div>
        <div class="advantages shield_border_w">
            <img src="{% static 'img/utp_warehouse/utp_w4.png' %}" alt="" class="utp_w__img">
            <span class="advantages__span">100% гарантия<br /> сохранности имущества</span>
        </div>
        <div class="advantages advantages_compound_w">
            <img src="{% static 'img/utp_warehouse/utp_w5.png' %}" alt="" class="utp_w__img">
            <span class="advantages__span">Комплексное<br /> предоставление услуг</span>
        </div>
        <div class="advantages recommendation_border_w">
            <img src="{% static 'img/utp_warehouse/utp_w6.png' %}" alt="" class="utp_w__img">
            <span class="advantages__span">22% обращаются<br /> по рекомендации</span>
        </div>
        </div>
    </div>