{% load static %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="description__warm">
                {% include 'company_description.html' %}
            </div>
        </div>    
        <div class="col-lg-12">
        <div class="hf">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <p class="inline-warm">от 50 до 4000м2</p>
                    </div>
                    <div class="back">
                        <p class="inline-warm">Разные виды площадей</p>
                    </div>
                </div>
            </div>
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <p class="inline-warm">Аренда необходимых вам метров</p>
                    </div>
                    <div class="back">
                        <p class="inline-warm">Вы не будете платить за лишнюю площадь. Наш менеджер подберет оптимальное количество метров</p>
                    </div>
                </div>
            </div>
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <p class="inline-warm">Услуги погрузки, разгрузки</p>
                    </div>
                    <div class="back">
                        <p class="inline-warm">Для удобства вы можете воспользоваться нашими услугами по разгрузке и погрузке груза</p>
                    </div>
                </div>
            </div>
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <p class="inline-warm">Возможность снять офис</p>
                </div>
                <div class="back">
                    <p class="inline-warm">На нашей территории имеются офисы, как в административном здании, так и в складских зданиях</p>
                </div>
            </div>
        </div>
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <p class="inline-warm">Антипылевые полы</p>
                    </div>
                    <div class="back">
                        <p class="inline-warm">Необходимы для самых разных сфер промышленности</p>
                    </div>
                </div>
            </div>
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <p class="inline-warm">Широкий спектр услуг</p>
                    </div>
                    <div class="back">
                        <p class="inline-warm">
                            Помимо аренды офисов, торговых и складских площадей, Группа компаний «Оборонснабсбыт» предоставляет комплекс сопутствующих услуг
                        </p>
                    </div>
                </div>
            </div>
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <p class="inline-warm">Вывоз мусора, снега, утилизация отходов</p>
                </div>
                <div class="back">
                    <p class="inline-warm">одо 4000м2</p>
                </div>
            </div>
        </div>
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <p class="inline-warm">Наличие своей Ж/Д ветки</p>
                </div>
                <div class="back">
                    <p class="inline-warm">Площадь<br />одо 4000м2</p>
                </div>
            </div>
        </div>
        </div>         
        </div>
    </div>
</div>