{% load static %}
<section class="other_warehouse row">
    <div class="other_block bg_other_o col-md-6">
        <a href="{% url 'office_page' %}">
            <img src="{% static 'img/office_img_other.png' %}" alt="" class="img_other">
            <h3 class="other_h3 text-center">офисные помещения</h3>
        </a>
    </div>
    <div class="other_block bg_other_d2 col-md-6">
        <a href="{% url 'doker_page' %}">
            <img src="{% static 'img/doker_img_other.jpg' %}" alt="" class="img_other">
            <h3 class="other_h3 text-center">торговые площади</h3>
        </a>
    </div> 
</section>