{% load static %}

<p class="company_description">
    Основное направление деятельности Группы компаний
    «Оборонснабсбыт» - управление коммерческой недвижимостью.
    Мы предлагаем десятки вариантов площадей под склад, торговлю или офис
    подходящих как для малого, так и среднего бизнеса.
    <span class="hidden-xs hidden-sm">Умеренная стоимость, отсутствие комиссии при заключении договоров,
    юридическая чистота сделки и минимальные риски для арендатора -
    это далеко не полный список наших преимуществ.
    Общая площадь торговых, офисных и складских площадей, находящихся в управлении «Оборонснабсбыт»,
    составляет около 75 000 кв. м.
    Торговая и транспортно-складская площадки расположены на одной территории и
    образуют единый комплекс с собственной инфраструктурой. Все нежилые помещения готовы к въезду. Аренда оформляется без посредников.</span>
</p>