{% load static %}
<div class="modal fade" id="modal-4">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">x</button>
                <h4 class="modal-title">Остались вопросы?</h4>
            </div>
            <div class="modal-body clearfix">
                    <div class="col-sm-12 feedback__form">
                        {% include 'contactForm_page/contact.html' %} 
                    </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>