{% load static %}
<div class="reviews">
    <div class="container">
        <h4 class="reviews__h4 text-center">отзывы наших резидентов</h4>
        <div class="reviews_block">
            <div class="partner clearfix">
                <img src="{% static 'img/profile.png' %}" alt="" class="partner_img">
                <p class="persone_name">Иван Резидент</p>
                <p class="persone_status">региональный директор</p>
                <img src="{% static 'img/avega.png' %}" alt="" class="partner_small_img">
            </div>
            <div class="opinion">
                <p class="p__opinion">
                    ывмвмывмыв ывымвмвым выывм ымывмыв ыввыы выывм
                    шоашщощшоащш гырвгр ывшграгвырагр ыгшврашгвыр
                    олывл олыврлаоывр лывралоывр лырввр ылврлоылв
                    в вы вывмвмывмыв ывымвмвым выывм ымывмыв ыввыы выывм
                    шоашщощшоащш гырвгр ывшграгвырагр ыгшврашгвыр
                    олывл олыврлаоывр лывралоывр лырввр ылврлоылв
                    в вы в
                </p>
            </div>
        </div>
        <div class="reviews_block">
            <div class="partner clearfix">
                <img src="{% static 'img/profile.png' %}" alt="" class="partner_img">
                <p class="persone_name">Иван Резидент</p>
                <p class="persone_status">региональный директор</p>
                <img src="{% static 'img/avega.png' %}" alt="" class="partner_small_img">
            </div>
            <div class="opinion">
                <p class="p__opinion">
                    ывмвмывмыв ывымвмвым выывм ымывмыв ыввыы выывм
                    шоашщощшоащш гырвгр ывшграгвырагр ыгшврашгвыр
                    олывл олыврлаоывр лывралоывр лырввр ылврлоылв
                    в вы вывмвмывмыв ывымвмвым выывм ымывмыв ыввыы выывм
                    шоашщощшоащш гырвгр ывшграгвырагр ыгшврашгвыр
                    олывл олыврлаоывр лывралоывр лырввр ылврлоылв
                    в вы в
                </p>
            </div>
        </div>
        <div class="reviews_block">
            <div class="partner clearfix">
                <img src="{% static 'img/profile.png' %}" alt="" class="partner_img">
                <p class="persone_name">Иван Резидент</p>
                <p class="persone_status">региональный директор</p>
                <img src="{% static 'img/avega.png' %}" alt="" class="partner_small_img">
            </div>
            <div class="opinion">
                <p class="p__opinion">
                    ывмвмывмыв ывымвмвым выывм ымывмыв ыввыы выывм
                    шоашщощшоащш гырвгр ывшграгвырагр ыгшврашгвыр
                    олывл олыврлаоывр лывралоывр лырввр ылврлоылв
                    в вы вывмвмывмыв ывымвмвым выывм ымывмыв ыввыы выывм
                    шоашщощшоащш гырвгр ывшграгвырагр ыгшврашгвыр
                    олывл олыврлаоывр лывралоывр лырввр ылврлоылв
                    в вы в
                </p>
            </div>
        </div>
    </div>
</div>