{% load static %}
<div class="trust_us hidden-xs hidden-sm">
    <p class="trust_us__border"></p>
    <h3 class="trust_us__h3 text-center clearfix">нам доверяют</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="single-item" data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>
                <div><img src="{% static 'img/askona.png' %}" alt="" class="advantages__img"></div>
                <div><img src="{% static 'img/avega.png' %}" alt="" class="advantages__img"></div>
                <div><img src="{% static 'img/leo.png' %}" alt="" class="advantages__img"></div>
                <div><img src="{% static 'img/piastrella.png' %}" alt="" class="advantages__img"></div>
                <div><img src="{% static 'img/tikkurila.jpg' %}" alt="" class="advantages__img"></div>
                <div><img src="{% static 'img/askona.png' %}" alt="" class="advantages__img"></div>
                <div><img src="{% static 'img/avega.png' %}" alt="" class="advantages__img"></div>
                <div><img src="{% static 'img/leo.png' %}" alt="" class="advantages__img"></div>
                </div>
            </div>
        </div>
    </div>
</div>