{% extends 'base.html' %}
{% load static %}

{% block content %}
    
<div class="bg_section">
    <section class="office_head text-center">
        <h1 class="office__h1">Аренда офисных помещений<br /> в Екатеринбурге от собственника</h1>
        <p class="office__p">свободные офисы от 8кв/м на ваш выбор</p>
        <button data-toggle="modal" data-target="#modal-7">подобрать офис</button>
        <div class="scroll_button">
            <span class="border_scroll"></span>
        </div>
    </section>
</div>
<section class="office_content">
    <div class="container">
        <div class="row">
            {% include 'company_description.html' %}
            <h2 class="office__h2 text-center">Что Вы получаете, сняв офис у нас</h2>
            <div class="building text-center clearfix">
                <img src="{% static 'img/office/building.png' %}" alt="" class="building__img hidden-xs hidden-sm">
                <img src="{% static 'img/office/cloud_left.png' %}" alt="" class="cloud_left img_absolute hidden-xs hidden-sm">
                <img src="{% static 'img/office/cloud_right.png' %}" alt="" class="cloud_right img_absolute hidden-xs hidden-sm">
                <img src="{% static 'img/office/tree_left.png' %}" alt="" class="tree_left img_absolute hidden-xs hidden-sm">
                <img src="{% static 'img/office/tree_right.png' %}" alt="" class="tree_right img_absolute hidden-xs hidden-sm">
                <div class="utp block_kamera">
                    <img src="{% static 'img/office/kamera.png' %}" alt="" class="utp__img pull-right">
                    <p class="utp__p text-right">Круглосуточное</br> видео наблюдение</p>
                </div>
                <div class="utp block_pojarnik">
                    <img src="{% static 'img/office/pojarnik.png' %}" alt="" class="utp__img pull-right">
                    <p class="utp__p text-right">Пожарная сигнализация</p>         
                </div>
                <div class="utp block_yborka"> 
                    <img src="{% static 'img/office/yborka.png' %}" alt="" class="utp__img pull-right">
                    <p class="utp__p text-right">Клининговая служба</p>
                </div>
                <div class="utp block_policeman">
                    <img src="{% static 'img/office/policeman.png' %}" alt="" class="utp__img pull-right">
                    <p class="utp__p text-right">Контрольно-пропускной режим</p>
                </div>
                <div class="utp block_telefon">
                    <img src="{% static 'img/office/telefon.png' %}" alt="" class="utp__img pull-left">
                    <p class="utp__p text-left">Цифровая телефонная связь</p>
                </div>
                <div class="utp block_imac">
                    <img src="{% static 'img/office/imac.png' %}" alt="" class="utp__img pull-left">
                    <p class="utp__p text-left">Выделенный канал интернет</p>
                </div>
                <div class="utp block_stolovaya">
                    <img src="{% static 'img/office/stolovaya.png' %}" alt="" class="utp__img pull-left">
                    <p class="utp__p text-left">Столовая для офисных работников</p>
                </div>
                <div class="utp block_znak hidden-md hidden-lg">
                    <img src="{% static 'img/office/znak.png' %}" alt="" class="utp__img pull-right">
                    <p class="utp__p text-right">Автопарковка для сотрудников</p>
                </div>
            </div>
            <div class="parking text-center hidden-xs hidden-sm">
                <img src="{% static 'img/office/parking.png' %}" alt="" class="parking__img">
                <img src="{% static 'img/office/stop.png' %}" alt="" class="stop__img img_absolute">
                <div class="utp block_znak">
                    <img src="{% static 'img/office/znak.png' %}" alt="" class="utp__img pull-right">
                    <p class="utp__p text-right">Автопарковка для сотрудников</p>
                </div>
                <div class="utp block_avtobus">
                    <img src="{% static 'img/office/avtobus.png' %}" alt="" class="utp__img pull-left">
                    <p class="utp__p text-left">Остановка общественного транспорта</p>
                </div>
            </div>
            
        </div>
    </div>
</section>

{% include 'trust_us.html' %}
{% include 'contacts_office.html' %}
<section class="other_office row">
    <div class="other_block bg_other_w col-md-6">
        <a href="{% url 'warehouse_page' %}">
            <img src="{% static 'img/sklad_img_other.jpg' %}" alt="" class="img_other">
            <h3 class="other_h3 text-center">складские помещения</h3>
        </a>
    </div>
    <div class="other_block bg_other_d col-md-6">
        <a href="{% url 'doker_page' %}">
            <img src="{% static 'img/doker_img_other.jpg' %}" alt="" class="img_other">
            <h3 class="other_h3 text-center">торговые площади</h3>
        </a>
    </div> 
</section>
  
{% include 'map_oss.html' %}
    
{% include 'office_page/choose_office.html' %}
    
{% endblock %}  